footer {
  margin-top: 104px;

  @include mq($until:lg) {
    margin-top: 88px;
  }

  .title-primary {
    margin-left: 9%;

    @include mq($until:lg) {
        margin-left: 0;
      }
  }

  .footer__contact {
    list-style: none;
    margin-top: 80px;

    @include mq($until:lg) {
      flex-direction: column;
    }

    li {
      margin-left: 120px;
      font-size: 22px;
      line-height: 120%;
      color: var(--gray-light);
      display: flex;
      align-items: center;

      &:first-child {
        margin-left: 0;
      }

      @include mq($until:lg) {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 0;
        justify-content: center;
        margin-top: 48px;
      }

      span {
        padding-left: 25px;

        @include mq($until:lg) {
          padding-left: 0;
          padding-top: 19px;
        }
      }
    }
  }

  .footer__map {
    min-height: 480px;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;

    img {
      min-height: 100%;
      object-fit: cover;
    }
  }

  .footer__content {
    span {
      font-size: 20px;
      line-height: 120%;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: var(--primary-light);
    }

    p {
      font-size: 26px;
      line-height: 120%;
      text-align: center;
      color: #FFFFFF;
    }
  }

  .footer__copyRight {
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #919191;
    padding-top: 40px;
    padding-bottom: 104px;
    margin-top: 80px;
    border-top: 1px solid #353535;
    

    @include mq($until:lg) {
        padding-bottom: 56px;
        margin-top: 60px;
      }
  }
}
