.header {
  min-height: 100vh;
  background-image: url('/images/background_picture.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .menu {
    @extend .u-flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;

    @include mq($until:lg) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @include mq($until:md) {
      flex-direction: row;
      justify-content: space-between;
      padding: 24px;
    }

    .menu__logo {
      img {
        @include mq($until:md) {
          width: 143px;
        }
      }
    }

    .menu__nav {
      text-transform: uppercase;

      @include mq($until:md) {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        z-index: 1;
        background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.85) 100%);
      }

      @include mq(lg) {
        display: flex;
      }

      ul {
        list-style: none;
        font-size: 19px;
        font-weight: 400;
        line-height: 31px;
        padding: 0;
        margin: 0;

        @include mq($until:md) {
          flex-direction: column;
          width: 100%;
          height: 100vh;
          justify-content: center;
        }

        @include mq($from:md, $until:lg) {
          flex-direction: row;
          margin-top: 40px;
        }

        li {
          margin-left: 64px;
          margin-bottom: 0px;

          &:first-child {
            margin-left: 0;
          }

          @include mq($until:md) {
            margin-left: 64px;
            margin-bottom: 40px;

            &:first-child {
              margin-left: 64px;
            }
          }

          a {
            color: white;
            text-decoration: none;
            font-size: 19px;
            padding-bottom: 5px;

            &:focus {
              border-bottom: 2px solid var(--primary-light);
            }

            @include mq($until:lg) {
              font-size: 20px;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }

            @include mq($until:md) {
              font-size: 22px;

              &:focus {
                color: var(--primary-light);
                border-bottom: none;
              }
            }
          }
        }
      }
    }

    .icon-humburger {
      display: none;

      @include mq($until: md) {
        display: block;
        cursor: pointer;
      }
    }

    .icon-humburger span {
      display: block;
      width: 34px;
      height: 3px;
      margin-bottom: 5px;
      position: relative;
      background: #fff;
    }

    .icon-close {
      position: absolute;
      top: 68px;
      right: 26px;
      display: none;
      cursor: pointer;

      @include mq($until:md) {
        display: block;
      }

      span {
        display: block;
        width: 24px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #fff;
        transform-origin: 4px 0px;

        &:first-child {
          transform: rotate(-45deg);
        }

        &:last-child {
          transform: rotate(44deg);
          top: -18px;
          margin-left: 1px;
        }
      }
    }
  }

  .banner {
    @extend .u-flex,
    .u-flex--center,
    .u-flex--column;

    .banner__title {
      font-weight: 700;
      font-size: 52px;
      line-height: 120%;
      text-align: center;
      color: #FFFFFF;
      text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
      width: 584px;
      margin-bottom: 20px;
      padding-top: 215px;

      @include mq($from: md, $until: lg) {
        padding-top: 114px;
      }

      @include mq($until:md) {
        font-size: 35px;
        width: 312px;
        padding-top: 80px;
        margin-bottom: 16px;
      }
    }

    .banner__subTitle {
      font-weight: 400;
      font-size: 24px;
      line-height: 39px;
      text-align: center;
      color: #FFFFFF;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-bottom: 70px;

      @include mq($until:md) {
        font-size: 22px;
      }
    }

    .button {
      @include mq($until:md) {
        flex-direction: column-reverse;
      }
    }

    .arrow-icon {
      display: none;

      @include mq($from: md, $until: lg) {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        width: 62px;
        height: 62px;
        background: rgba(0, 0, 0, 0.8);
        margin-top: 120px;
        cursor: pointer;
      }
    }
  }
}
