.menus {
  background-color: var(--brown-dark);
  border: 1px solid #8D8D8D;
  padding: 104px;
  margin-bottom: 64px;

  @include mq($until:lg) {
    padding: 40px;
  }

  @include mq($until:mobile) {
    padding: 25px;
    margin-bottom: 48px;
  }

  .menus-header {
    justify-content: space-between;

    @include mq($until:lg) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      @include mq($until:lg) {
        margin-top: 68px;
      }

      @include mq($until:md) {
        flex-direction: column;
        align-items: center;
      }

      li {
        margin-left: 48px;
        text-decoration: none;
        color: white;
        font-size: 20px;
        line-height: 130%;
        text-transform: uppercase;
        border-bottom: 1px dashed #FFFFFF;
        cursor: pointer;
        display: flex;
        align-items: flex-end;
        padding-bottom: 5px;

        &:first-child {
          margin-left: 0;
        }

        @include mq($until:md) {
          margin-left: 0;
          margin-bottom: 28px;
          font-weight: 400;
          line-height: 43px;
          letter-spacing: 0.02em;
        }
      }

      li.active {
        color: var(--primary-light);
      }
    }
  }

  .menus-body {
    margin-top: 76px;
    display: none;

    .menus-item {
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 1px solid #262626;
      padding-bottom: 24px;
      margin-top: 24px;

      @include mq($until:mobile) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      &:last-child {
        border-bottom: 0;
      }

      .menu-item__title {
        color: white;
        font-size: 22px;
        line-height: 29px;
        text-transform: capitalize;
        font-family: "RobotoSlab", sans-serif;

        @include mq($until:md) {
          font-size: 26px;
        }

        @include mq($until:mobile) {
          font-size: 24px;
          text-align: center;
        }
      }

      .menu-item__subTitle {
        font-size: 18px;
        line-height: 30px;
        text-transform: capitalize;
        color: var(--gray);
        margin-bottom: 0;

        @include mq($until:md) {
          font-size: 22px;
        }

        @include mq($until:mobile) {
          font-size: 21px;
          margin-bottom: 16px;
          text-align: center;
        }
      }

      .menus-item__price {
        font-size: 22px;
        color: #9C9C9C;

        @include mq($until:md) {
          font-size: 26px;
        }
      }
    }
  }

}
